@font-face {
  font-family: "BRFirmaBold";
  src: url(./assets/fonts/BRFirma-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "BRFirmaLight";
  src: url(./assets/fonts/BRFirma-Light.ttf) format("truetype");
}
@font-face {
  font-family: "BRFirmaRegular";
  src: url(./assets/fonts/BRFirma-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "BRFirma";
  src: url(./assets/fonts/BRFirma-Medium.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "BRFirmaRegular", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f1ff !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BRFirmaBold", sans-serif !important;
  font-weight: 700;
}
p,
ul,
li,
th,
tr,
td,
thead {
  color: #4f4f4f;
}
td,
tr,
th {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
  font-family: "BRFirmaRegular", sans-serif;
}
a {
  text-decoration: none !important;
  color: #703bda;
}
input,
button {
  outline: none !important;
  outline-offset: 0 !important;
}
input:hover,
input:focus {
  color: #222 !important;
  outline: none !important;
  border: 1p solid #703bda;
  box-shadow: none !important;
}
button:hover,
button:focus {
  background: #6837ca9e !important;
  color: #fff !important;
  outline: none !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.nav-link.active {
  background: #fff;
  color: #6837ca9e;
  transition: 200ms all ease;
}
.sub-nav.active {
  transition: 200ms all ease;
  border-color: #fff;
}

@media screen and (max-width: 1270px) {
  .student_none {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .student_none {
    display: table-cell;
  }
}
@media screen and (max-width: 768px) {
  .student_none {
    display: none;
  }
}
/* @media screen and (max-width: 770px) {
  .lg_none {
    display: none;
  }
} */
