@font-face {
  font-family: "GTWalsheimProBlack";
  src: url(./assets/fonts/GTWalsheimPro-Black.ttf) format("truetype");
}
@font-face {
  font-family: "GTWalsheimProBold";
  src: url(./assets/fonts/GTWalsheimPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "GTWalsheimProLight";
  src: url(./assets/fonts/GTWalsheimPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "GTWalsheimProRegular";
  src: url(./assets/fonts/GTWalsheimPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "GTWalsheimProMedium";
  src: url(./assets/fonts/GTWalsheimPro-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "GTWalsheimProThin";
  src: url(./assets/fonts/GTWalsheimPro-Thin.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: "GTWalsheimProRegular", sans-serif !important;
  font-weight: 400;
  letter-spacing: 0.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GTWalsheimProBold", sans-serif !important;
  font-weight: 700;
}
p,
ul,
li {
  color: #4f4f4f;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
